@font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono-Regular.ttf');
}

body {
    background-color: #111111;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'JetBrainsMono';
}

.upper-box-container {
    position: relative;
    text-align: center;
}

.box-container {
    position: relative;
    text-align: center;
}

.upper-box {
    width: 500px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 20px;
    position: relative;
}

.box {
    width: 500px;
    height: 180px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 20px;
    position: relative;
}

.upper-name {
    position: absolute;
    top: 12px;
    left: 20px;
    background-color: #111111;
    padding: 0 5px;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    z-index: 1;
}

.upper-updates {
    font-size: 12px;
    color: #bbb;
    margin-top: 18px;
    max-width: 450px;
    text-align: left;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}

.username {
    position: absolute;
    top: -8px;
    left: 20px;
    background-color: #111111;
    padding: 0 5px;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    z-index: 1;
}

.github {
    position: absolute;
    top: -8px;
    left: 350px;
    background-color: #111111;
    padding: 0 5px;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    z-index: 1;
    text-decoration: underline;
}

.discord {
    position: absolute;
    top: -8px;
    left: 420px;
    background-color: #111111;
    padding: 0 5px;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    z-index: 1;
    text-decoration: underline;
}

.welcome {
    font-size: 18px;
    font-weight: medium;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.description {
    font-size: 12px;
    color: #bbb;
    margin-top: 90px;
    max-width: 300px;
    text-align: center;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}